<h1 class="text-center">Welcome to Planta Tu Hogar</h1>
<div class="d-flex flex-wrap">
    {{#each products}}

    <div class="card m-3 " style="width: 18rem;">
        
    <div class="card-body">
        <h5 class="card-title text-center fs-2">{{title}}</h5>
        <p class="card-text">{{description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Price : {{price}} €</li>
        <li class="list-group-item">Stock :  {{stock}} </li>
        <li class="list-group-item">Code : {{code}} </li>
    </ul>
    
    </div> 
{{/each}} 
</div>
